body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #222222;
}

h1 {
  font-size: 22px;
  text-align: center;
}

input,
textarea {
  padding: 8px;
  font-family: inherit;
  font-size: 14px;
  border: 2px solid #c7c7c7;
  border-radius: 8px;
  outline: none;
}

textarea {
  resize: none;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover {
  border-color: #b30f97;
}

::placeholder {
  color: #c2c2c2;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.container {
  margin: auto;
  padding: 0 10px;
}

.form {
  margin: auto;
  width: auto;
}

.statistic {
  width: auto;
  margin: auto;
}

.wb__link {
  font-size: 33px;
  color: #b30f97;
  text-decoration: none;
}

.wb__link:active,
.wb__link:focus,
.wb__link:hover {
  color: #cb11ab;
}

.list__btn {
  padding: 0;
  margin: 30px 0 0 0;
  list-style-type: none;
}

.list__btn-item {
  margin: 8px 0;
  padding: 0;
}

.btn {
  padding: 10px 20px;

  font-size: 20px;
  color: #ffffff;

  width: 146px;
  border: 2px solid #b30f97;
  border-radius: 8px;
  background-color: #b30f97;

  cursor: pointer;
}

.btn:active,
.btn:focus,
.btn:hover {
  background-color: #cb11ab;
  border: 2px solid #cb11ab;
}

.btn-clear {
  border: 2px solid #c7c7c7;
  border-radius: 8px;
  background-color: #c7c7c7;
  margin: 0;
}

.btn-clear:active,
.btn-clear:focus,
.btn-clear:hover {
  background-color: #b5b5b5;
  border: 2px solid #b5b5b5;
}

.btn-copy {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: transparent;
  fill: #b30f97;
}

.btn-copy:active,
.btn-copy:focus,
.btn-copy:hover {
  background-color: transparent;
  border: none;
  fill: #cb11ab;
}

.btn-copy--icon {
  width: 50px;
  height: 50px;
}

.statistic__text {
  text-align: left;
  margin-top: 20px;
}

.statistic__text-data {
  font-size: 20px;
  font-weight: bold;
  color: #b30f97;
  text-align: left;
}

@media screen and (min-width: 361px) {
  .statistic__text-data {
    font-size: 30px;
  }
}

@media screen and (min-width: 400px) {
  h1 {
    font-size: 22px;
  }

  .wb__link {
    font-size: 32px;
  }

  .form {
    width: 360px;
  }

  input,
  textarea {
    font-size: inherit;
  }

  .statistic {
    width: 360px;
  }

  .list__btn {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 40px;
  }
}

.block {
  display: flex;
}

.list {
  display: flex;

  list-style: none;
}

.accent {
  font-size: 36px;
  color: #b30f97;
}
