body {
  font-family: sans-serif;
  line-height: 1.2;
  color: #222222;
}

h1 {
  font-size: 26px;
  text-align: left;
}

input,
textarea {
  padding: 8px;
  font-family: inherit;
  font-size: 14px;
  border: 2px solid #c7c7c7;
  border-radius: 8px;
  outline: none;
}

textarea {
  resize: none;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover {
  border-color: #cfae09;
}

::placeholder {
  color: #c2c2c2;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.container {
  margin: auto;
  padding: 20px 10px;
}

.form {
  margin: auto;
  width: auto;
}

.statistic {
  width: auto;
  margin: auto;
}

.wb__link {
  font-size: 55px;
  color: #cfae09;
  text-decoration: none;
}

.wb__link:active,
.wb__link:focus,
.wb__link:hover {
  color: #e1be0f;
}

.list__btn {
  padding: 0;
  margin: 30px 0 0 0;
  list-style-type: none;
}

.list__btn-item {
  margin: 8px 0;
  /* padding: 0 0 10px 0; */
}

.btn {
  padding: 10px 20px;

  font-size: 18px;
  color: #ffffff;

  width: 138px;
  height: 46px;
  border: 2px solid #cfae09;
  border-radius: 8px;
  background-color: #cfae09;

  cursor: pointer;
}

.btn:active,
.btn:focus,
.btn:hover {
  background-color: #e1be0f;
  border: 2px solid #e1be0f;
}

.btn-clear {
  border: 2px solid #c7c7c7;
  border-radius: 8px;
  background-color: #c7c7c7;
  margin: 0;
}

.btn-clear:active,
.btn-clear:focus,
.btn-clear:hover {
  background-color: #b5b5b5;
  border: 2px solid #b5b5b5;
}

.btn-copy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: transparent;
  fill: #cfae09;
}

.btn-copy:active,
.btn-copy:focus,
.btn-copy:hover {
  background-color: transparent;
  border: none;
  fill: #e1be0f;
}

.btn-copy--icon {
  width: 50px;
  height: 50px;
}

.statistic__text {
  text-align: left;
  margin-top: 20px;
}

.statistic__text-data {
  font-size: 20px;
  font-weight: bold;
  color: #cfae09;
  text-align: left;
}

@media screen and (min-width: 361px) {
  .statistic__text-data {
    font-size: 30px;
  }
}

@media screen and (min-width: 370px) {
  .container {
    width: 330px;
  }

  .form {
    width: 330px;
  }

  input,
  textarea {
    font-size: inherit;
    font-size: 18px;
  }

  .statistic {
    width: 330px;
  }

  .btn {
    width: 100%;
  }

  .btn-clear {
    width: 100%;
  }

  .list__btn {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 40px;
  }
}

.block {
  display: flex;
}

.list {
  display: flex;
  list-style: none;
}

.accent {
  font-size: 36px;
  color: #cfae09;
}

/* ___________________________________ */

/* Фон модального окна */
.modal {
  display: none; /* скрыта изначально */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* flex включится только при открытии */
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex; /* показываем окно */
}

/* Контент */
.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.confirm {
  padding: 10px 20px;

  font-size: 18px;
  color: #ffffff;

  height: 46px;
  border-radius: 8px;

  cursor: pointer;
}

.ok {
  margin-right: 10px;
  width: 80px;
  border: 2px solid #f33c3c;
  background-color: #f33c3c;
}

.cancel {
  border: 2px solid #16bc3a;
  background-color: #16bc3a;
}

.modal-text {
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
}

/* Кнопка "Удалить повторы" */
.delete-btn {
  padding: 10px 20px;

  font-size: 18px;
  color: #ffffff;

  width: 200px;
  height: 46px;
  border: 2px solid #f33c3c;
  border-radius: 8px;
  background-color: #f33c3c;

  cursor: pointer;
  margin-top: 10px;
}

.delete-btn:active,
.delete-btn:focus,
.delete-btn:hover {
  background-color: #e25353;
  border: 2px solid #e25353;
}

/* ============================================================ */

/* #qr-reader {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  width: 200px;
  height: 150px;
  border: 1px solid #cfae09;
  border-radius: 8px;
  display: flex;
  overflow: hidden; 
  flex-shrink: 0; 
} */

.scanner-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  height: 150px; /* фиксированная высота контейнера */
}

/* Универсальный стиль для кнопок Scanner и STOP SCAN */
#scanner-btn {
  width: 116px; /* фиксированная ширина */
  height: 150px; /* фиксированная высота */
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#stop-btn {
  width: 116px;
  height: 150px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f33c3c; 
}

/* Контейнер для сканера */
#qr-reader {
  position: relative;
  width: 200px; /* фиксированная ширина */
  height: 150px; /* фиксированная высота */
  flex-shrink: 0;
  border: 2px solid #cfae09;
  border-radius: 8px;
  overflow: hidden;
 }

 #qr-reader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/scan.svg") center/cover no-repeat;
  background-size: 50%;
  opacity: 0.2; 
  z-index: -1; 

/* placeholder надпись */
#qr-reader .placeholder-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  font-weight: bold;
  color: #555;
}

/* Видео внутри qr-reader */
#qr-reader video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px; /* скругленные углы */
  display: block;
}
