body {
  font-family: sans-serif;
  line-height: 1.5;
  padding: 15px 40px;
  color: #222222;
}

h1 {
  font-size: 24px;
}

input {
  padding: 8px;
  font-family: inherit;
  font-size: inherit;
  border: 2px solid #c7c7c7;
  border-radius: 8px;
  outline: none;
}

input:focus,
input:hover {
  border-color: #b30f97;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

textarea {
  resize: none;
  padding: 8px;
  font-family: inherit;
  font-size: inherit;
  border: 2px solid #c7c7c7;
  border-radius: 8px;
  outline: none;
}

textarea:focus,
textarea:hover {
  border-color: #b30f97;
}

::placeholder {
  color: #c2c2c2;
}

.block {
  display: flex;
}

.btn {
  margin: 10px 0;
  padding: 10px 20px;

  font-size: 22px;
  color: #ffffff;

  border: 2px solid #b30f97;
  border-radius: 8px;
  background-color: #b30f97;

  cursor: pointer;
}

.btn:active,
.btn:focus,
.btn:hover {
  background-color: #cb11ab;
  border: 2px solid #cb11ab;
}

.list {
  display: flex;

  list-style: none;
}

.form {
  width: 400px;
}

.accent {
  font-size: 36px;
  color: #b30f97;
}

.wb__link {
  font-size: 36px;
  color: #b30f97;
  text-decoration: none;
}

.wb__link:active,
.wb__link:focus,
.wb__link:hover {
  color: #cb11ab;
}
